body {
    background-color: rgb(2, 113, 80);
    margin:0;
}

#bgcontainer {
    position: fixed;
    top: 1%;
    left:1%;
    height:98vh;
    width: 98%;
    background-image: url(../images/ForestBackgroundWide.jpg);
    background-position:center center ;
    background-size: cover;
    border-radius: 15px;
    z-index: -1;
    
}

#logo {
    position: relative;
    width: 30%;
    left:35%;
    top: -20%;
}

#content {
    margin-top: 10%;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 5%;
    position: relative;

}

#content > img {
    grid-column: span 5;
}

.textbubble {
    background-color: rgba(1, 82, 71,0.7);
    margin:0;
    
}

.tb1 {
    grid-column: span 4;
    position: relative;
    overflow: hidden;
    margin:0;
    border-radius:0 50cap;
   
}

#lotus {
    border-radius: 0px 50cap;
    border:10px solid rgb(3, 83, 59);
    width: 40%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin:0;
    float: left;
    
}

#plan {
    border-radius:50cap 0;
    border:10px solid rgb(3, 83, 59);
    width: 40%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin:0;
    float: right;
}

.tb2 {
    grid-column: span 4;
    position: relative;
    overflow: hidden;
    margin:0;
    border-radius:50cap 0;
}

.imgallery {
    grid-column: span 5;
    grid-row: span 2;
    padding: 10px;
    position: relative;
}


.deco {
    height: 20%;
}

.tb1header {
    text-align: center;
    margin:0; 
}

.tb2header {
    text-align: center;
    margin:0;
}

.headerbox1 {
    position: absolute;
    width: 50%;
    height: 40%;
    right:16%;
    display: inline-block;
    overflow: hidden;
    }

.headerbox2 {
    position: absolute;
    width: 40%;
    height: 40%;
    right:34%;
    display: inline-block;
    overflow: hidden;
    
    
}

.textbox1 {
    position: absolute;
    width: 50%;
    height: 60%;
    right: 7%;
    top: 37%;
    

}

.textbox2 {
    position: absolute;
    width: 50%;
    height: 60%;
    right: 40%;
    top: 37%;
}



#imghbox {
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 10;
    margin-bottom: 0;
    
}

.scrollarea {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 2rem;
  align-items: center;
  scroll-behavior: smooth;
  height: 40vh; /* Galerie-Höhe — passt du nach Geschmack an */
  padding-bottom: 1rem;
}

.footer {
        border-radius: 4cap;
        position: relative;
        width: 50%;
        height: 55px;
        left: 25%;
        margin-bottom: 3%;
        background-color: rgba(1, 82, 71, 0.8);
        
}

#motto {
    color: rgb(18, 224, 145);
    text-align: center;
    font-family: "Delius", cursive;
    font-weight: 500;
    font-size: 16pt;
    font-style: normal;
    margin-bottom:0;
    
}

#disclaimer {
    color:white;
    text-align: center;
    margin-top:0;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

@media (max-width:1099px) {

    

    .header {
    display:inline-block;
    font-family: "Sacramento", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 32pt;
    color:rgb(117, 214, 174);
    }

    .description {
    display: inline;
    color:white;
    font-family: "Delius", cursive;
    font-weight: 500;
    font-size: 16pt;
    font-style: normal;
    margin:0;
    }

    #galleryh {
    
    text-align: center;
    font-family: "Sacramento", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 32pt;
    color:rgb(117, 214, 174);
    margin: 0;
    }
    .expage {
        border-radius: 80px;
        vertical-align: top;
        height: 300px;
        display: inline-block;
        padding:0 1%;
    }
    

}

@media (min-width:1100px) and (max-width:1399px) {
    

    .header {
    display:inline-block;
    font-family: "Sacramento", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 40pt;
    color:rgb(117, 214, 174);
    }

    .description {
    display: inline;
    color:white;
    font-family: "Delius", cursive;
    font-weight: 500;
    font-size: 20pt;
    font-style: normal;
    margin:0;
    }

    #galleryh {
    
    text-align: center;
    font-family: "Sacramento", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 40pt;
    color:rgb(117, 214, 174);
    margin: 0;
    }
    .expage {
        border-radius: 80px;
        vertical-align: top;
        height: 400px;
        display: inline-block;
        padding:0 1%;
    }
}

@media (min-width:1400px) and (max-width:1699px) {

   

    .header {
    display:inline-block;
    font-family: "Sacramento", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 50pt;
    color:rgb(117, 214, 174);
    }

    .description {
    display: inline;
    color:white;
    font-family: "Delius", cursive;
    font-weight: 500;
    font-size: 22pt;
    font-style: normal;
    margin:0;
    }

    #galleryh {
    
    text-align: center;
    font-family: "Sacramento", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 50pt;
    color:rgb(117, 214, 174);
    margin: 0;
    } 
    .expage {
        border-radius: 80px;
        vertical-align: top;
        height: 500px;
        display: inline-block;
        padding:0 1%;
    }

}

@media (min-width:1700px) and (max-width:2199px) {
    

    .header {
    display:inline-block;
    font-family: "Sacramento", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 65pt;
    color:rgb(117, 214, 174);
    }

    .description {
    display: inline;
    color:white;
    font-family: "Delius", cursive;
    font-weight: 500;
    font-size: 28pt;
    font-style: normal;
    margin:0;
    }

    #galleryh {
    
    text-align: center;
    font-family: "Sacramento", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 65pt;
    color:rgb(117, 214, 174);
    margin: 0;
    }
    .expage {
        border-radius: 80px;
        vertical-align: top;
        height: 700px;
        display: inline-block;
        padding:0 1%;
    }
}

@media (min-width:2200px) { 
    

    .header {
    display:inline-block;
    font-family: "Sacramento", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 80pt;
    color:rgb(117, 214, 174);
    }

    .description {
    display: inline;
    color:white;
    font-family: "Delius", cursive;
    font-weight: 500;
    font-size: 40pt;
    font-style: normal;
    margin:0;
    }

    #galleryh {
    
    text-align: center;
    font-family: "Sacramento", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 80pt;
    color:rgb(117, 214, 174);
    margin: 0;
    }
        .expage {
        border-radius: 80px;
        vertical-align: top;
        height: 800px;
        display: inline-block;
        padding:0 1%;
    }

}
