body {
    background-color: rgb(2, 113, 80);
    margin:0;
}

#bgcontainer {
    position: fixed;
    top: 1%;
    left:1%;
    height:98vh;
    width: 98%;
    background-image: url(../images/ForestBackgroundWide.jpg);
    background-position:center center ;
    background-size: cover;
    border-radius: 15px;
    z-index: -1;
    
}

#logo {
    position: relative;
    width: 30%;
    left:35%;
    top: -20%;
}

#content {
    margin-top: 10%;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,160px);
    gap: 5%;
    position: relative;

}

#content > img {
    grid-column: span 5;
}

.textbubble {
    background-color: rgba(1, 82, 71,0.7);
    margin:0;
    
}

.tb1 {
    grid-column: span 5;
    
    overflow-y: hidden;
    margin:0;
    border-radius:0 15cap;
   
}

#lotus {
    border-radius: 0px 15cap;
    border:10px solid rgb(3, 83, 59);
    width: 40%;
    height: 100%;
    object-fit: cover;
    display:block;
    margin-right:0.5rem;
    float: left;
    shape-outside: circle(79% at 21% 90%);
    
    
    
}

#plan {
    border-radius:15cap 0;
    border:10px solid rgb(3, 83, 59);
    width: 40%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin:0;
    float: right;
    margin-left: 0.5rem;
    shape-outside: circle(84% at 79% 93%);
}

.tb2 {
    grid-column:span 5;
    
    overflow: hidden;
    margin:0;
    border-radius:15cap 0;
}

.imgallery {
    grid-column: span 5;
    grid-row: span 2;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}


.deco {
    height: 20%;
}

.tb1header {
    margin-top: 0.7rem;
    margin-bottom: 0.4rem;
   
}

.tb1des {
    padding-right: 2rem;
}

.tb2header {
    margin:0.7rem 0 0.7rem 0;
    text-align: right;
}

.tb2des {
    padding-left:2rem;
    text-align: right;
}

#imghbox {
    flex: 0 0 auto;
    margin-bottom: 0.5rem;
    
}

.scrollarea {
    flex: 1 1 auto;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 2rem;
  align-items: center;
  scroll-behavior: smooth;
  
}

.footer {
    border-radius: 4cap;
    width: 50%;
    height: auto;
    left: 25%;
    margin:0 auto 3%;
    background-color: rgba(1, 82, 71, 0.8);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
        
}


#motto {
    
    color: rgb(18, 224, 145);
    text-align: center;
    font-family: "Delius", cursive;
    font-weight: 500;
    font-size: clamp(0.9rem,3.4vw,1.5rem);
    font-style: normal;
    margin-bottom:0;
    padding-top: 1rem;
    
    }

    #disclaimer {
    
    color:white;
    text-align: center;
    margin-top:0;
    font-family: "Roboto Flex", sans-serif;
    font-size: clamp(0.7rem,2vw,1.2rem);
    font-weight: 400;
    font-style: normal;

    }

    .header {
    display:block;
    font-family: "Sacramento", cursive;
    font-weight: 500;
    font-style: normal;
    font-size:clamp(1rem,5.8vw,5rem);
    color:rgb(117, 214, 174);
    }

    .description {
    display: block;
    color:white;
    font-family: "Delius", cursive;
    font-weight: 500;
    font-size:clamp(0.8rem,2.4vw,2.5rem);
    font-style: normal;
    margin:0;
    }

    #galleryh {
    
    text-align: center;
    font-family: "Sacramento", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(1rem,5.8vw,5rem);
    color:rgb(117, 214, 174);
    margin: 0;
    }
    .scrollarea img {
    height: 80%;       /* Füllt die Höhe der Scrollarea */
    width: auto;        /* Behält Seitenverhältnis */
    flex: 0 0 auto;     /* Verhindert, dass das Bild gedehnt oder gestaucht wird */
    object-fit: cover;
    border-radius: 1rem;
    }

    @media (min-width:480px) {

        #lotus {
            shape-outside: circle(94% at 21% 103%);
            
        }

        #plan {
            shape-outside: circle(95% at 78% 105%);
        }
    }

    @media (min-width:768px) {
        #content {
            grid-template-rows: repeat(5,200px);
            
        }

        #lotus {
            shape-outside: circle(96% at 23% 108%);
            border-radius: 0px 25cap;
        }

        #plan {
            shape-outside: circle(98% at 79% 112%);
            border-radius: 25cap 0px;
        }
        .tb1 {
        grid-column: span 5;
        overflow-y: hidden;
        margin:0;
        border-radius:0 25cap;
        }

        .tb2 {
        grid-column:span 5;
        overflow: hidden;
        margin:0;
        border-radius:25cap 0;
        }

    }

    @media (min-width:1024px) {
        #content {
            grid-template-rows: repeat(5,270px);
        }
        #lotus {
            shape-outside: circle(91% at 29% 112%);
            border-radius: 0px 25cap;
        }
        #plan {
            shape-outside: circle(102% at 79% 113%);
        }
    }

    @media (min-width:1440px) {
        #content {
            grid-template-rows: repeat(5,300px);
        }
        #lotus {
            shape-outside: circle(94% at 29% 128%);
            border-radius: 0px 30cap;
        }
        #plan {
            shape-outside: circle(103% at 79% 120%);
            border-radius: 30cap 0px;
        }
        .tb1 {
        grid-column: span 5;
        overflow-y: hidden;
        margin:0;
        border-radius:0 30cap;
        }

        .tb2 {
        grid-column:span 5;
        overflow: hidden;
        margin:0;
        border-radius:30cap 0;
        }
        

    }

    @media (min-width:1920px) {
        #content {
            grid-template-rows: repeat(5,365px);
        }
        #lotus {
            shape-outside: circle(97% at 29% 136%);
            border-radius: 0px 35cap;
        }
        #plan {
            shape-outside: circle(105% at 79% 124%);
            border-radius: 35cap 0px;
        }
        .tb1 {
        grid-column: span 5;
        overflow-y: hidden;
        margin:0;
        border-radius:0 35cap;
        }

        .tb2 {
        grid-column:span 5;
        overflow: hidden;
        margin:0;
        border-radius:35cap 0;
        }
        
        .header {
            font-size:clamp(1rem,6.2vw,7rem);
        }

        .description {
            font-size:clamp(0.8rem,3vw,3rem);
        }
    }